* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    max-width: 100vw;
    min-height: 100vh;
    background-color: rgb(31, 31, 31);
    
}


main {

    .title {
        animation: bounce 5s infinite ease-in-out;
        text-align: center;
        color: $color-ddd;
        font-family: $font-Parisienne;
        font-weight: 100;
        font-size:4vw;
        margin-bottom: 0.8vw;
        @media screen and (max-width: 600px) {
            font-size: 5vw;
            margin-bottom: 2vw;
        }
        span {
            font-size: 6.5vw
        }

    }
    @keyframes bounce {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-20px);
        }
        100% {
          transform: translateY(0);
        }
      }

    .container {
        @include flex-center;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 2em;
        gap: 6vw;
    
        .box-full{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            background-color: white;
            border-radius: 5px;
            padding: 0.5vw;
            width: 10vw;
            // min-width: 9vw;
            height: 12vw;
            text-decoration: none;
            @media screen and (max-width: 600px) {
                width: 20vw;
                height: 24vw;
            }

            .support {
                width: 100%;
                height: 80%;

                img {
                    width: 100%;
                    height: 100%;
                    border: 2px solid rgb(31, 31, 31);
                    border-radius: 5px;
                }
        
                h2 {
                    vertical-align: middle;
                    font-family: $font-Parisienne;
                    font-size: 1.3vw;
                    color: rgb(31, 31, 31);
                    padding-left: 0.5vw;
                    @media screen and (max-width: 600px) {font-size: 2vw;    
                    }
                }
            }
        }
        .box-full:hover {
            transform: scale(1.1);    
            transition: transform 0.2s;
        }


        .box-empty{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: white;
            border-radius: 5px;
            padding: 0.5vw;
            width: 10vw;
            // min-width: 9vw;
            height: 12vw;
            @media screen and (max-width: 600px) {
                width: 20vw;
                height: 24vw;
            }

            .support {
                width: 100%;
                height: 80%;
                
                img {
                width: 100%;
                height: 100%;
                border: 2px solid rgb(31, 31, 31);
                border-radius: 5px;
                object-fit:cover;
                }
                h2 {
                    vertical-align: middle;
                    font-family: $font-Parisienne;
                    font-size: 1.3vw;
                    color: rgb(31, 31, 31);
                    padding-left: 0.5vw;
                    @media screen and (max-width: 600px) {font-size: 2vw;    
                    }
                }
            }

        }
    }
}


.auteur {
    margin-top: 1vw; 
    font-size: 1vw; 
    text-align: center;
    color: white;


    a {
        text-decoration: none;
    }

    .ddd {
        font-size: 1vw; 
        color: $color-ddd;
        font-family: $font-ddd, $font-Parisienne;
        @media screen and (max-width: 600px) {
            font-size: 2vw;
        }
    }

    @media screen and (max-width: 600px) {
        font-size: 2vw;
    }
}
.ddd:hover { color: white;}
